<!DOCTYPE html>
<html lang="pl">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{ title | default: "Test" }}</title>
    <link rel="stylesheet" href="/styles.css" />
</head>

<body>
    {% render 'header' %}
    {% render 'content', products: products.products, bestsellers: products.bestsellers, productOptions: products.productOptions %}
    {% render 'footer' %}
    <script src="https://cdn.jsdelivr.net/npm/alpinejs@3.x.x/dist/cdn.min.js" defer></script>
</body>

</html>

<script>
    window.texts = {{texts | json | safe}};
</script>