<style>
    .sticky-product {
        position: sticky;
        top: 0;
    }
</style>

<div x-data="productSelector()" x-init="init()" class="flex flex-col">

    <!-- Breadcrumbs -->
    {% render 'content/breadcrumbs' %}
    <!--  -->

    <div class="flex flex-col md:flex-row ">

        <!-- Gallery -->
        <div class="w-full md:w-1/2">
            {% render 'content/gallery' %}
        </div>
        <!--  -->

        <!-- Product -->
        <div class="w-full md:w-1/2">
            <div class="md:sticky md:top-0">
                {% render 'content/product' with products as products %}
            </div>
        </div>
        <!--  -->

    </div>
</div>

<script>
    function productSelector() {
        return { 
            products: {{products | json | safe}},
            selectedProduct: null,
            init() {
                if (this.products.length > 0) {
                    this.selectedProduct = this.products[0];
                }
            },
            selectProduct(product) {
                this.selectedProduct = product;
            }
        }
    }
</script>