<style>
    .tab {
        text-transform: uppercase;
        font-size: small;
        padding-right: 2rem;
        padding-left: 2rem;
        padding-bottom: 1rem;
        border-bottom: 2px solid transparent;
    }
    .sticky-header {
        position: sticky;
        top: 0;
        left: 0;
        right: 0;
        background-color: var(--color-bg-secondary);
    }
</style>
<div 
    x-data="{
        activeTab: 'women',
        tabs: [
            { id: 1, text: window.texts.text_boots_section, specific: false },
            { id: 2, text: window.texts.text_shoes_section, specific: false },
            { id: 3, text_men: window.texts.text_apparel_section, text_women: window.texts.text_ready_to_wear_section, specific: true },
            { id: 4, text: window.texts.text_accessories_section, specific: false },
            { id: 5, text: window.texts.text_lifestyle_section, specific: false },
            { id: 6, text: window.texts.text_collaborations_section, specific: false },
            { id: 7, text: window.texts.text_shop_the_look_section, specific: false }
        ],
        icons: [
            { src: '/assets/icons/location.svg', alt: 'Location', classes: 'hidden lg:block' },
            { src: '/assets/icons/search.svg', alt: 'Search', classes: 'hidden lg:block' },
            { src: '/assets/icons/user.svg', alt: 'User', classes: 'hidden lg:block' },
            { src: '/assets/icons/favourite.svg', alt: 'Favourite', classes: '' },
            { src: '/assets/icons/cart.svg', alt: 'Cart', classes: '' }
        ]
    }"
    class="flex flex-col sticky-header z-[10]"
>
    <div class="flex flex-row p-[var(--spacing)]">
        <div class="flex flex-1 justify-start">
            <div 
                x-on:click="activeTab = 'men'" 
                :class="activeTab === 'men' 
                    ? 'lg:flex items-center pr-4 pl-4 border-b-2 border-[var(--color-link-hoverr)]' 
                    : 'lg:flex items-center pr-4 pl-4 border-b-1 border-[var(--color-border)]'" 
                class="text-[var(--color-link-hover)] hidden uppercase"
                x-text="window.texts.text_tab_men"    
            >
            </div>
            <div 
                x-on:click="activeTab = 'women'" 
                :class="activeTab === 'women' 
                ? 'lg:flex items-center pr-4 pl-4 border-b-2 border-[var(--color-link-hover)]' 
                : 'lg:flex items-center pr-4 pl-4 border-b-1 border-[var(--color-border)]'" 
                class="text-[var(--color-link-hover)] hidden uppercase"
                x-text="window.texts.text_tab_women"
            >
            </div>
            <div class="flex lg:hidden">
                <img src="/assets/icons/menu.svg" alt="Menu" class="w-1/2" />
            </div>
        </div>
        
        <div class="flex flex-1 justify-center items-center">
            <img src="/assets/images/logo.png" alt="Logo" class="w-[30vw] sm:w-[20vw] md:w-[15vw] lg:w-[10vw]" />
        </div>
        <div class="flex flex-1 justify-end">
            <template x-for="icon in icons" :key="icon.src">
                <div :class="`touch-target p-[var(--spacing)] ${icon.classes}`">
                    <img :src="icon.src" :alt="icon.alt" />
                </div>
            </template>
        </div>
    </div>
    <div class="hidden lg:flex flex-1 flex-row justify-start border-b-1 border-[var(--color-border)]">
        <template x-for="tab in tabs" :key="tab.id">
            <div class="touch-target tab" x-text="tab.specific 
                ? (activeTab === 'men' 
                ? tab.text_men 
                : tab.text_women) 
                : tab.text">
            </div>
        </template>
    </div>
</div>