<div x-data="{ activeTab: 'men' }" class="flex flex-col">
    <div class="flex flex-row p-[var(--spacing)]">
        <div class="flex flex-1 justify-start">
            <div x-on:click="activeTab = 'men'" :class="activeTab === 'men' 
                            ? 'text-[var(--color-link-hover)] md:flex items-center touch-target pr-4 pl-4 border-b-2 border-[var(--color-border)]' 
                            : 'md:flex items-center pr-4 pl-4 border-b-2 border-[var(--color-border)]'" class="hidden">
                MEN
            </div>
            <div x-on:click="activeTab = 'women'" :class="activeTab === 'women' 
                            ? 'text-[var(--color-link-hover)] md:flex items-center touch-target pr-4 pl-4 border-b-2 border-[var(--color-border)]' 
                            : 'md:flex items-center pr-4 pl-4 border-b-2 border-[var(--color-border)]'" class="hidden">
                WOMEN
            </div>
            <div class="flex md:hidden">
                <img src="/assets/icons/menu.svg" alt="Menu" class="w-1/2" />
            </div>
        </div>
        <div class="flex flex-1 justify-center items-center">
            <img src="/assets/images/logo.png" alt="Logo" class="w-[30vw] sm:w-[20vw] md:w-[15vw] lg:w-[10vw]" />
        </div>
        <div class="flex flex-1 justify-end">
            <div class='touch-target hidden md:block p-[var(--spacing)]'>
                <img src="/assets/icons/location.svg" alt="Location" />
            </div>
            <div class='touch-target hidden md:block p-[var(--spacing)]'>
                <img src="/assets/icons/search.svg" alt="Search" />
            </div>
            <div class='touch-target hidden md:block p-[var(--spacing)]'>
                <img src="/assets/icons/user.svg" alt="User" />
            </div>
            <div class='touch-target p-[var(--spacing)]'>
                <img src="/assets/icons/favourite.svg" alt="Favourite" />
            </div>
            <div class='touch-target p-[var(--spacing)]'>
                <img src="/assets/icons/cart.svg" alt="Cart" />
            </div>
        </div>
    </div>
    <div class="hidden lg:flex flex-1 flex-row justify-start border-b-1 border-[var(--color-border)]">
        <div class="touch-target pb-1 pr-2 pl-2 text-xs">
            BOOTS
        </div>
        <div class="touch-target pb-1 pr-2 pl-2 text-xs">
            SHOES
        </div>
        <div class="touch-target pb-1 pr-2 pl-2 text-xs ">
            APPAREL
        </div>
        <div class="touch-target pb-1 pr-2 pl-2 text-xs">
            ACCESSORIES
        </div>
        <div class="touch-target pb-1 pr-2 pl-2 text-xs">
            LIFESTYLE
        </div>
        <div class="touch-target pb-1 pr-2 pl-2 text-xs">
            COLLABORATIONS
        </div>
        <div class="touch-target pb-1 pr-2 pl-2 text-xs">
            SHOP THE LOOK
        </div>
    </div>
</div>