<div class="flex flex-row p-[var(--spacing)]">
    <div class="flex flex-1 justify-start">
        A
    </div>
    <div class="flex flex-1 justify-center items-center">
        <img src="/src/assets/images/logo.png" alt="Logo" class="w-[30vw] sm:w-[20vw] md:w-[15vw] lg:w-[10vw]" />
    </div>
    <div class="flex flex-1 justify-end">
        <div class='touch-target hidden md:block'>
            <img src="/src/assets/icons/location.svg" alt="Location" />
        </div>
        <div class='touch-target hidden md:block'>
            <img src="/src/assets/icons/search.svg" alt="Search" />
        </div>
        <div class='touch-target hidden md:block'>
            <img src="/src/assets/icons/user.svg" alt="User" />
        </div>
        <div class='touch-target'>
            <img src="/src/assets/icons/favourite.svg" alt="Favourite" />
        </div>
        <div class='touch-target'>
            <img src="/src/assets/icons/cart.svg" alt="Cart" />
        </div>
    </div>
</div>