<div class="flex flex-row p-[var(--spacing)]">
    <div class="flex flex-1 flex-row justify-start items-center space-x-1">
        <p class="text-[var(--color-link-hover)]">Home</p>
        <p class="text-[var(--color-link-hover)]">/</p>
        <p class="text-[var(--color-link-hover)]">All</p>
        <p class="text-[var(--color-link-hover)]">/</p>
        <p x-text="selectedProduct.name" class="text-[var(--color-link-hover)]"></p>
    </div>
    <div class="flex flex-row justify-end items-center space-x-1 border-l-1 border-[var(--color-border)] pl-1">
        <p class="text-[var(--color-link-hover)]">SHARE</p>
        <img src="/assets/icons/share.svg" alt="Share" />
    </div>
</div>