<div class="flex flex-1 flex-col space-y-2 p-1 md:p-3 md:pt-0">

    <!-- 1. Section -->
    <div class="flex flex-col pb-2 border-b-1 border-[var(--color-border)]">
        <p x-text="'$' + selectedProduct.price" class="text-base text-[var(--color-text-secondary)]"></p>
        <h1 x-text="selectedProduct ? selectedProduct.name : null" class="uppercase mb-0.5"></h1>
        <p x-text="'STYLE NO.' + selectedProduct.style" class="text-sm text-[var(--color-text-secondary)]"></p>
    </div>

    <!-- 2. Section -->
    <div class="flex flex-col space-y-1 pb-2 border-b-1 border-[var(--color-border)]">
        <div class="flex flex-row space-x-0.5">
            <p x-text="window.texts.text_color + ': '" class="text-[var(--color-text-secondary)]"></p>
            <p x-text="selectedProduct ? selectedProduct.color : null" class="capitalize"></p>
        </div>
        <div class="flex flex-row space-x-1 ">
            {% for product in products %}
                <img src="{{ product.colorPhoto }}" uppercase alt="{{ product.name }}" class="rounded-circle"
                    @click='selectProduct({{ product | json | escape }} )' />
            {% endfor %}
        </div>
    </div>

    <!-- 3. Section -->
    <div class="flex flex-col space-y-1">
        <p x-text="window.texts.text_product_description" class="text-base"></p>
        <p x-text="window.texts.text_read_more" class="text-base text-[var(--color-link-hover)] cursor-pointer underline"></p>
    </div>

    <!-- 4. Section -->
    <div class="flex flex-col bg-[var(--color-bg-primary)] ">
        <div class="flex flex-col space-y-1 p-1">
            <p x-text="window.texts.text_selected + ':'" class="text-sm"></p>
            <div class="flex flex-row space-x-1">
                <div class="flex flex-1 border-r-1 border-[var(--color-border)]">
                    <p x-text="window.texts.text_size + ':'" class="text-base text-[var(--color-link-hover)]"></p>
                </div>
                <div class="flex flex-1 border-r-1 border-[var(--color-border)] justify-center">
                    <p x-text="window.texts.text_width + ':'" class="text-base text-[var(--color-link-hover)]">
                    </p>
                </div>
                <div class="flex flex-1 justify-end">
                    <p x-text="window.texts.text_toe_and_heel + ':'"
                        class="text-base text-[var(--color-link-hover)]"></p>
                </div>
            </div>
        </div>
        <button class="classic-button flex flex-row">
            <div class="flex-1">
                <p x-text="window.texts.text_choose_size"></p>
            </div>
        </button>
    </div>

    <!-- 5. Section -->
    <button class="filled-button" x-text="window.texts.text_add_to_cart"></button>
    <div class="flex justify-center pb-2 border-b-1 border-[var(--color-border)]">
        <p x-text="window.texts.text_purchasing_offer"></p>
    </div>
    </div>
</div>