<style>
    .section {
        background-color: var(--color-bg-primary);
        display: flex;
    }
    .product-item {
        border: 1px solid;
        height: 100%;
        flex: 1;
        height: 100%;
        min-height: 70vh;
    }
</style>

<div 
    class="flex flex-col space-y-3 mt-3 mb-3" 
    x-data="{ 
        bestsellers: {{ bestsellers | json | safe }}, 
        products: {{ products | json | safe }}
    }"
>

    <!-- Recommended Products -->
    <div class="section flex-col lg:flex-row space-x-0 lg:space-x-2 space-y-2 lg:space-y-0 p-0 lg:p-2">
        <div class="flex lg:hidden justify-center items-center text-center p-2 pb-0">
            <h1 x-text="window.texts.text_recommendations_title" class="uppercase"></h1>
        </div>
        <div class="w-full lg:w-1/2 flex justify-center items-center">
            <img src="https://www.lucchese.com/cdn/shop/files/1_800x.svg?v=1749824747" alt="Recommended Products" class="w-3/4 lg:w-full">
        </div>
        <div class="flex flex-col space-y-2 w-full">
            <h1 x-text="window.texts.text_recommendations_title" class="hidden lg:block uppercase"></h1>
            <div 
                class="flex-row h-full hidden sm:flex"
                x-data="{ productsActiveElement: 0 }"
            >
                <div class="absolute flex items-center p-1 h-[70vh]">
                    <img 
                        src="/assets/icons/forward.svg" 
                        alt="Left Icon" 
                        class="w-1.5 h-1.5 rotate-180"
                        x-on:click="productsActiveElement = productsActiveElement > 0 ? productsActiveElement - 1 : 0"
                    >
                </div>
                <template x-for="product in products.filter(p => p.id !== selectedProduct.id).slice(productsActiveElement, productsActiveElement + 2)" :key="product.id">
                    <div class="product-item flex flex-col items-center">
                        <p x-text="product.name" class="text-sm text-center"></p>
                        <p x-text="product.id" class="text-xs text-gray-500"></p>
                    </div>
                </template>
                <div class="absolute flex items-center p-1 right-[2rem] h-[70vh]">
                    <img 
                        src="/assets/icons/forward.svg" 
                        alt="Left Icon" 
                        class="w-1.5 h-1.5"
                        x-on:click="productsActiveElement = productsActiveElement < products.length - 3 ? productsActiveElement + 1 : productsActiveElement"
                    >
                </div>
            </div>
            <div class="flex-row h-full sm:hidden">
                <div class="absolute flex items-center p-1 h-[70vh]">
                    <img src="/assets/icons/forward.svg" alt="Left Icon" class="w-1.5 h-1.5 rotate-180"
                        x-on:click="productsActiveElement = productsActiveElement > 0 ? productsActiveElement - 1 : 0">
                </div>
                <div class="absolute flex items-center p-1 right-0 h-[70vh]">
                    <img src="/assets/icons/forward.svg" alt="Left Icon" class="w-1.5 h-1.5"
                        x-on:click="productsActiveElement = productsActiveElement < products.length - 3 ? productsActiveElement + 1 : productsActiveElement">
                </div>
                <template x-for="product in products.filter(p => p.id !== selectedProduct.id).slice(0, 1)" :key="product.id">
                    <div class="product-item flex flex-col items-center">
                        <p x-text="product.name" class="text-sm text-center"></p>
                        <p x-text="product.id" class="text-xs text-gray-500"></p>
                    </div>
                </template>
            </div>
        </div>
    </div>
    <!-- -->

    <!-- Bestsellers -->
    <div class="section flex-col lg:flex-row space-x-0 lg:space-x-2 space-y-2 lg:space-y-0 p-0 lg:p-2">
        <div class="flex lg:hidden justify-center items-center text-center p-2 pb-0">
            <h1 x-text="window.texts.text_bestsellers_title" class="uppercase"></h1>
            <div class="flex flex-row space-x-0.5 items-center">
                <p x-text="window.texts.text_show_more" class="uppercase"></p>
                <img src="/assets/icons/forward.svg" alt="Forward Icon" class="w-1 h-1">
            </div>
        </div>
        <div class="w-full lg:w-1/2 flex justify-center items-center">
            <img src="https://www.lucchese.com/cdn/shop/files/2_800x.svg?v=1749824750" alt="Bestsellers"
                class="w-3/4 lg:w-full">
        </div>
        <div class="flex flex-col space-y-2 w-full">
            <h1 x-text="window.texts.text_bestsellers_title" class="hidden lg:block uppercase"></h1>
            <div class="flex flex-row space-x-0.5 items-center">
                <p x-text="window.texts.text_show_more" class="uppercase"></p>
                <img src="/assets/icons/forward.svg" alt="Forward Icon" class="w-1 h-1">
            </div>
            <div class="flex-row h-full hidden sm:flex" x-data="{ bestsellersActiveElement: 0 }">
                <div class="absolute flex items-center p-1 h-[70vh]">
                    <img src="/assets/icons/forward.svg" alt="Left Icon" class="w-1.5 h-1.5 rotate-180"
                        x-on:click="bestsellersActiveElement = bestsellersActiveElement > 0 ? bestsellersActiveElement - 1 : 0">
                </div>
                <template
                    x-for="bestseller in bestsellers.slice(bestsellersActiveElement, bestsellersActiveElement + 2)"
                    :key="bestseller.id">
                    <div class="product-item flex flex-col items-center">
                        <p x-text="bestseller.name" class="text-sm text-center"></p>
                        <p x-text="bestseller.id" class="text-xs text-gray-500"></p>
                    </div>
                </template>
                <div class="absolute flex items-center p-1 right-[2rem] h-[70vh]">
                    <img src="/assets/icons/forward.svg" alt="Left Icon" class="w-1.5 h-1.5"
                        x-on:click="bestsellersActiveElement = bestsellersActiveElement < bestsellers.length - 3 ? bestsellersActiveElement + 1 : bestsellersActiveElement">
                </div>
            </div>
            <div class="flex-row h-full sm:hidden">
                <div class="absolute flex items-center p-1 h-[70vh]">
                    <img src="/assets/icons/forward.svg" alt="Left Icon" class="w-1.5 h-1.5 rotate-180"
                        x-on:click="bestsellersActiveElement = bestsellersActiveElement > 0 ? bestsellersActiveElement - 1 : 0">
                </div>
                <div class="absolute flex items-center p-1 right-0 h-[70vh]">
                    <img src="/assets/icons/forward.svg" alt="Left Icon" class="w-1.5 h-1.5"
                        x-on:click="bestsellersActiveElement = bestsellersActiveElement < bestsellers.length - 3 ? bestsellersActiveElement + 1 : bestsellersActiveElement">
                </div>
                <template x-for="product in bestsellers.filter(p => p.id !== selectedProduct.id).slice(0, 1)"
                    :key="product.id">
                    <div class="product-item flex flex-col items-center">
                        <p x-text="product.name" class="text-sm text-center"></p>
                        <p x-text="product.id" class="text-xs text-gray-500"></p>
                    </div>
                </template>
            </div>
        </div>
    </div>
</div>

